<template>
    <div>
        <nav-top></nav-top>
        <div class="container">
            <div class='row'>
                <div class='col'>
                    <p>Main Page</p>
                    <!--<h2>{{ $t('home.title') }}</h2>-->
                    <!--<p>{{ $t('home.content') }}</p>-->
                    <!--<br />-->
                    <!--<br />-->
                    <!--<a href='/admin'>{{ $t('home.admin_link') }}</a>-->
                </div>
            </div>
        </div>
    </div>
</template>