<!--&lt;!&ndash; this is the same id we reffered in the vue file &ndash;&gt;-->
<!--&lt;!&ndash; for consisteny, I also follow a convention in this &ndash;&gt;-->
<!--&lt;!&ndash; {folder-paths}-{action}-view &ndash;&gt;-->
<!--<div id="devise-registrations-new-view">-->
  <!--&lt;!&ndash; we talked about passing the validation error to vue &ndash;&gt;-->
  <!--&lt;!&ndash; here is how easy it is to do this &ndash;&gt;-->
  <!--<devise-registrations-new-view :errors="<%= resource.errors.full_messages %>">-->
  <!--</devise-registrations-new-view>-->
<!--</div>-->


<!--&lt;!&ndash; these is how we say rails to include the javascript and stylesheet generated &ndash;&gt;-->
<!--<%= javascript_pack_tag 'registrations/new'%>-->
<!--<%= stylesheet_pack_tag 'registrations/new'%>-->