<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <div class="form-group">
                <input class="form-control" v-model="post.title"  placeholder="title">
            </div>


            <textarea class="form-control" v-model="post.body" placeholder="body"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                post: {
                    title: '',
                    body: ''
                }
            }
        },

        computed: {
            params: function() {
                return {
                    post: {
                        title: this.post.title,
                        body: this.post.body
                    }
                }
            }
        },

        methods: {
            handleSubmit() {
                // Send data to the server or update your stores and such.
                $.ajax({
                    url: 'posts',
                    type: 'post',
                    data: this.params
//                    success: function(data) {
//                        context.commit('many', data)
//                    }
                })
            }
        }
    }
</script>