<template>
    <div>
        <nav-top></nav-top>
        <div class="container">
            <div class='row'>
                <div class='col'>
                    <table class='table table-bordered'>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Body</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for='post in posts'>
                            <td><router-link :to="{ name: 'post_path', params: {id: post.id} }">{{ post.title }}</router-link></td>
                            <td>{{ post.body }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return this.$store.state.PostStore;
        },
        mounted: function() {
            this.$store.dispatch('PostStore/index');
        }
    }
</script>