<template>
    <div class='container'>
        <nav-top></nav-top>
        <div class='row'>
            <div class='col-lg-6'>
                <h4 class="text-uppercase">Create post</h4>
                <br>
                <posts-form></posts-form>
            </div>
        </div>
    </div>
</template>