<template>
    <div>
        <nav-top></nav-top>
        <div class="container">

            <div class='row'>
                <div class='col'>
                    <!--<h2>Title</h2>-->
                    <!--<p>Body</p>-->
                    <ul>
                        <li> {{ post.id }}</li>
                        <li> {{ post.title }}</li>
                        <li> {{ post.body }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return this.$store.state.PostStore;
        },
        mounted: function() {
            this.$store.dispatch('PostStore/show', this.$route.params.id)
        }
    }
</script>