<template>

  <div id="app">
    <div class="full-center">
      <p>{{ message }}</p>
    </div>
  </div>

</template>



<script>

export default {
  data: function () {
    return {
      message: "Hello Vue on Rails!"
    }
  }
}

</script>




<style scoped>

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 2rem;
}

</style>
